H1
{
	font-weight: bold;
	font-size: large;
	color: black;
	font-family: Arial;
}
A
{
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}
P
{
	font-size: x-small;
	font-family: Tahoma;
}
.info
{
	font-size: x-small;
	color: black;
	font-family: Tahoma;
	background-color: white;
}
.menu
{
	display: none;
}
.corner
{
	display: none;
}
.detail
{
	border-bottom: white thin solid;
	font-family: Monospace;
}
.detailheader
{
	font-family: Monospace;
}
.windowcaption
{
	font-size: x-small;
	font-weight: bold;
	font-family: Tahoma;
	color: black;
	background-color: white;
}
.windowframe
{
	border-right: white thin solid;
	border-top: white thin solid;
	border-left: white thin solid;
	border-bottom: white thin solid;
}
.alertcaption
{
	font-size: x-small;
	font-weight: bold;
	font-family: Tahoma;
	color: white;
	background-color: darkorange;
}
.alertframe
{
	border-right: darkorange thin solid;
	border-top: darkorange thin solid;
	border-left: darkorange thin solid;
	border-bottom: darkorange thin solid;
}
.alerthead
{
	color: darkorange;
}
.confirmationcaption
{
	font-weight: bold;
	font-size: x-small;
	color: white;
	font-family: Tahoma;
	background-color: yellowgreen;
}
.confirmationframe
{
	border-right: yellowgreen thin solid;
	border-top: yellowgreen thin solid;
	border-left: yellowgreen thin solid;
	border-bottom: yellowgreen thin solid;
}
.confirmationhead
{
	color: yellowgreen;
}
.errorcaption
{
	font-weight: bold;
	font-size: x-small;
	color: white;
	font-family: Tahoma;
	background-color: crimson;
}
.errorframe
{
	border-right: crimson thin solid;
	border-top: crimson thin solid;
	border-left: crimson thin solid;
	border-bottom: crimson thin solid;
}
.errorhead
{
	color: crimson;
}
.progressbar
{
	border-right: steelblue thin solid;
	padding-right: 1px;
	border-top: steelblue thin solid;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: steelblue thin solid;
	color: steelblue;
	line-height: 200%;
	padding-top: 1px;
	border-bottom: steelblue thin solid;
	font-family: 'Courier New';
	letter-spacing: 1px;
}